[Service]
User=postgres
Group=postgres
ExecStart=
ExecStart=/usr/sbin/pgbouncer {{ pgbouncer_conf_dir }}/pgbouncer.ini
ExecReload=/bin/kill -HUP $MAINPID
PIDFile={{ pgbouncer_run_dir }}/pgbouncer.pid
Restart=on-failure
RestartSec=5s
LimitNOFILE=65536

IOSchedulingClass=best-effort
IOSchedulingPriority=2

StandardOutput=journal
StandardError=journal
SyslogIdentifier=pgbouncer
